* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

h1 {
  color: whitesmoke;
  text-align: center;
}

.App {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
}

.App .column {
  width: 20%;
}
.main-col {
  display: flex;
  justify-content: space-between;
}

.droppable-col {
  width: 100%;
  background-color: #262626;
  padding: 10px 10px 0 10px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  color: white;
}

.item {
  margin-bottom: 10px;
  background-color: rgba(106, 109, 205, 1);
  border: 1px solid rgba(106, 109, 205, 1);
  padding: 5px;
  border-radius: 7px;
}

.item.dragging {
  background-color: coral;
}

.input {
  border-radius: 15px;
  padding-top: 1rem;
  padding-bottom: 3rem;
  color: black !important;
}
.input button {
  align-items: center;
  color: black;
}

@media only screen and (max-width: 520px) {
  .main-col {
    display: flex;
    flex-direction: column;
  }
  .App .column {
    width: 100%;
    padding-top: 1rem;
  }
  .input {
    text-align: center;
  }
}
